<div style="width: 50%; margin: auto; font-family: Arial;">

    <h1>Report a Community Issue</h1>

    <form method="post">
        {% csrf_token %}

        <label><strong>Issue Title:</strong></label><br>
        <input type="text" name="title" required><br><br>

        <label><strong>Description:</strong></label><br>
        <textarea name="description" required></textarea><br><br>

        <label><strong>Location:</strong></label><br>
        <input type="text" name="location" required><br><br>

        <button style="background: green; color: white; padding: 10px;">
            Submit Issue
        </button>
    </form>

    <br>
    <a href="/reports/">View All Issues →</a>

</div>